/* Structure */
body {
background-color: brown;
}
/* Typography */
h1{
    color: blueviolet;
}

h2{
    color: crimson;
    border: 1px dotted black;
    }

p {
    color:red;
}

li {
     color: chartreuse;
}